# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfplan
infra/terraform/*.pem

# Node
node_modules/
coverage/

# OS / editor
.DS_Store
.idea/
.vscode/

# Jenkins
.jenkins/
