region                    = "us-east-1"
project_name              = "jenkins-cicd-observability"
subnet_id                 = "subnet-xxxxxxxx"
key_name                  = "my-ec2-keypair"
allowed_cidr              = "203.0.113.10/32"
backend_ecr_repo_name     = "backend-service"
frontend_ecr_repo_name    = "frontend-web"
cloudtrail_s3_bucket_name = "my-unique-cloudtrail-bucket-12345"
cloudtrail_retention_days = 90
grafana_admin_password    = "ChangeMeStrongPassword!"
